pyarrow==0.*
numpy==1.20.0
Flask==2.0.1
six==1.13.0
apache-beam==2.30.0
google-cloud-bigquery==2.23.2
google-cloud-storage==1.39.0
fsspec==2021.6.1
gcsfs==2021.6.1
google-cloud-pubsub==2.7.0
google-apitools==0.5.32
pycurl
http.client
